<!DOCTYPE html>
<html>
<head>
  <title>Musicify- An App by Douglas Moore</title>

</head>
<body>

<%= yield %>

<% if logged_in? %>
  <form action="<%=session_url%>" method="post"
    <input type="hidden" name="_method" value="delete">
    <%= auth_token %>

    <input type="submit" value="Log out!"
  </form>
<% end %>
</body>
</html>
